$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$primary-base: #024161;
$primary-light: #326B83;
$primary-dark: #012F4D;
$secondary-base: #D16A28;
$secondary-light: #D9814C;
$secondary-dark: #B54E1B;
$tertiary-base: #A9A9A9;
$tertiary-light: #C2C2C2;
$tertiary-dark: #7F7F7F;
$background: #F7F7F7;
$text-primary: #FFFFFF;
$text-bg: #333333;
