@import '../styles/variables';
.audio-controls {

    span {
        cursor: pointer; // Suggests the header is clickable
        color: $text-primary;
        
        &:hover {
            text-decoration: underline; // An indication of interactivity
        }
    }

    // Add this if you implement GSAP minimization:
    &.minimized {
        transform: scaleY(0);
    }

    button {
        width:44px;//https://www.w3.org/WAI/WCAG21/Understanding/target-size.html
        height:44px;
        margin-right:8px;
    }
    svg.sound-icon, input#volumeSlider {
        display: inline-block;
        vertical-align: middle;
    }
}
