@import '../styles/variables';

@mixin audio-button {
    width:44px;//https://www.w3.org/WAI/WCAG21/Understanding/target-size.html
    height:44px;
    margin-right:8px;
}
.audio-controls {
    span {
        color: $text-primary;
        
        &:hover {
            text-decoration: underline; // An indication of interactivity
        }
    }

    // Add this if you implement GSAP minimization:
    &.minimized {
        transform: scaleY(0);
    }

    button {
        @include audio-button;
    }
    svg.sound-icon, input#volumeSlider, button.audio-control-toggle svg.sound-icon {
        display: inline-block;
        vertical-align: middle;
    }
    input#volumeSlider {
        cursor: pointer;
    }
}
button.audio-control-toggle {
    @include audio-button;
    display: none;
    svg.sound-icon {
        display: inline-block;
        vertical-align: middle;
    } 
}